/* 修改自 https://github.com/sunface/rust-course/blob/main/theme/style.css */
@media only screen and (max-width: 1080px) {
  .sidetoc {
    display: none !important;
  }
}
@media only screen and (min-width: 1080px) {
  main {
    position: relative;
    padding-right: 170px;
  }
  .sidetoc {
    margin-left: auto;
    margin-right: auto;
    left: calc(100% - 200px);
    position: absolute;
  }
  .pagetoc {
    position: fixed;
    width: 200px;
    height: calc(100vh - var(--menu-bar-height) - 10rem);
    overflow: auto;
    z-index: 1000;
  }
  .pagetoc a {
    border-left: 1px solid var(--sidebar-bg);
    color: var(--fg) !important;
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    text-align: left;
    text-decoration: none;
    font-size: 1.2rem;
  }
  .pagetoc a:hover,
  .pagetoc a.active {
    background: var(--sidebar-bg);
    color: var(--sidebar-fg) !important;
  }
  .pagetoc .active {
    background: var(--sidebar-bg);
    color: var(--sidebar-fg);
  }
}
@media only screen and (max-width: 2560px) {
  .nav-wide-wrapper {
    display: none;
  }
  .nav-wrapper {
    display: block;
    position: fixed;
    bottom: 50px;
    left: var(--page-padding);
    right: var(--page-padding);
  }
}
@media only screen and (max-width: 2560px) {
  .sidebar-visible .nav-wide-wrapper {
    display: none;
  }
  .sidebar-visible .nav-wrapper {
    display: block;
    left: calc(var(--sidebar-width) + var(--page-padding));
  }
}
.mobile-nav-chapters {
  width: 40px;
  font-size: 2.5rem;
}
