p {
	text-indent: 2em;
}
blockquote > p,
h1 > p,
li > p {
	text-indent: initial;
}
.part-title {
	display: flex;
	height: 80vh;
	align-items: center;
	justify-content: space-evenly;
}
.first-title,
.last-title,
.single-title {
	display: inline-block;
	position: relative;
	writing-mode: vertical-lr;
}
.first-title {
	top: 10%;
}

.last-title {
	bottom: 10%;
}
