p {
  text-indent: 2em;
}
blockquote > p,
h1 > p,
li > p {
  text-indent: 0;
}
.part-title {
  display: flex;
  height: 80vh;
  justify-content: start;
  writing-mode: vertical-lr;
}
.first-title,
.last-title {
  display: inline-block;
  margin: 0;
}
.first-title {
  font-size: xxx-large;
  text-indent: 1em;
}

.last-title {
  position: relative;
  top: 0.5em;
  left: 2em;
}
